In [21]:
# division and floor division
print(5/2)
print(5//2)
print(-5//2)

2.5
2
-3

In [22]:
# // and %
123 // 10 % 10

2

In [23]:
# namespace
from math import pi

try:
    print("math.pi:", end = " ")
    print(math.pi)
except NameError:
    print('Name "math" not found.')

try:
    print("pi:", end = " ")
    print(pi)
except NameError:
    print('Name "pi" not found.')

math.pi: Name "math" not found.
pi: 3.141592653589793

In [24]:
newvar = None
newvar is None

True

In [25]:
# the "in" operator
1 in [1, 2, 3]

True

In [26]:
# list slicing
x = [1, 2, 3, 4, 5]
print(x[:3])
print(x[-2])
print(x[-3:])
print(x[1:-1])
print(x[::2])

[1, 2, 3]
4
[3, 4, 5]
[2, 3, 4]
[1, 3, 5]

In [27]:
# dictionary
grades = {'Joel': 80, 'Tim': 95}
'Joel' in grades

True

In [28]:
# a ternary if-then-else
x = 35
parity = "even" if not x % 2 else "odd"  
parity

'odd'

In [29]:
# indentation: for Loop 1
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print(x)

0
1
2
4

In [30]:
# indentation: for Loop 2
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
print(x)

5

In [31]:
# comprehension
pairs = [(x, y) for x in range(10) for y in range(5)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4)]

In [32]:
# a function is an object
def doubler(f, x):
    return 2 * f(x)

def f1(x):
    return(x + 1)

doubler(f1, 5)

12

In [33]:
# *args and **kwargs
def other_way_magic(x, y, z):
    return x + y + z

alist = [2, 4]
adict = {"z": 6}
other_way_magic(*alist, **adict)

12

In [34]:
def foo(astr, n):

while n > 0:
    print(astr, end = '')
    n -= 1
    k = 4
    foo('b', k)
    print(k, end='')

IndentationError: expected an indented block (<ipython-input-34-703a0aa9c458>, line 3)

In [ ]:
alist = [('AXP', 'American Express Company', '86.40'),   ('BA', 'The Boeing Company', '122.64'),   ('CAT', 'Caterpillar Inc.', '99.44'),   ('CSCO', 'Cisco Systems,Inc.', '23.78'),   ('CVX', 'Chevron Corporation', '115.91')]


adict = {'AXP': '86.40',   'BA': '122.64',   'CAT': '99.44',   'CSCO': '23.78',   'CVX': '115.91'}

alist[d]

In [ ]:


def f(x, y=5, z=3):

    if y > z:

        return x * y

        return x * z

    print(f(2, z=10))

In [ ]:

foo = function()
def foo(astr, n):

    while n > 0:

        print(astr, end = '')

          n -= 1

 

          k = 4

     foo('b', k)

        print(k, end='')

In [39]:
def foo(astr, n):

    while n > 0:

        print(astr, end = '')
        n -= 1   
        k = 4
        foo('b', k)
    print(k, end = '')